{% extends "base.html" %}
{% load money %}

{% block title %}投资账户{% endblock %}

{% block content %}
<section class="panel">
  <div class="section-head">
    <h1>投资账户</h1>
    <a class="button" href="{% url 'portfolio:account_create' %}">新增投资账户</a>
  </div>
  <table>
    <thead><tr><th>成员</th><th>券商</th><th>账户</th><th>币种</th><th>现金余额</th><th>操作</th></tr></thead>
    <tbody>
      {% for account in accounts %}
        <tr><td>{{ account.member }}</td><td>{{ account.broker_name }}</td><td>{{ account.account_name }}</td><td>{{ account.currency }}</td><td>{{ account.cash_balance|thousands }}</td><td><a href="{% url 'portfolio:account_edit' account.id %}">编辑</a></td></tr>
      {% empty %}
        <tr><td colspan="6">暂无数据</td></tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
